[Unit]
Description=Prio Deamon Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/prio/main.py
StandardInput=tty-force
Restart=always
KillMode=none
TimeoutSec=900

[Install]
WantedBy=multi-user.target
