[Unit]
Description=Prio deamon service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/prio/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
