[Unit]
Description=Prio Deamon Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/prio/main.py
StandardInput=tty-force
KillMode=none
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
